body{
text-align: center;
font-size: 43px;
}
.cabeçalho{
    background-color: green white;
}
.horta-texto-um{
    font-size: 20px;
}
.titulo-terceiro{
    font-size: 40px;
    text-align: left;
}
.texto-agrofloresta{
   font-size: 35px; 
}
